.projects__container {
  position: relative;
  overflow: initial;
}

.projects__content {
  display: grid;
  justify-content: center;
}

.projects__img {
  width: 280px;
  height: 160px;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.projects__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.projects__title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  margin: 0.5rem 0 1.25rem;
}

.projects__button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects__button i {
  font-size: 1rem;
  transition: transform 0.3s;
}

.projects__button:hover i {
  transform: translateX(0.25rem);
}
#projects {
  position: relative;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.custom-prev i,
.custom-next i {
  font-size: 2.5rem;
  color: var(--title-color); /* Adjust the color as needed */
}

.projects__container .swiper-slide {
  margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets {
  bottom: 0;
}

.projects__container .swiper-pagination-bullet {
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects__container .swiper-pagination-bullet-active {
  background-color: var(--title-color);
}

@media screen and (min-width: 576px) {
  .projects__container {
    overflow: hidden;
  }

  .projects__container .custom-prev {
    left: 1rem;
  }

  .projects__container .custom-next {
    right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .projects__container {
    width: 920px;
    overflow: unset;
  }

  .projects__container .custom-prev,
  .projects__container .custom-next {
    font-size: 3rem;
  }

  .projects__container .custom-prev {
    left: -1rem;
  }

  .projects__container .custom-next {
    right: -1rem;
  }

  .projects__container .swiper-slide {
    margin-bottom: 6.5rem;
  }
  .project__img {
    width: 320px;
    margin-bottom: 2rem;
  }
}
